.upcoming{
    width: 100%;
     overflow-x: hidden;
     padding: 1rem 0;
     
 ::-webkit-scrollbar {
     display: none;
   }
     .top{
         display: flex;
         justify-content: space-between;
 
         .carouselTitle{
             font-size: x-large;
         }
     }
 }